@model DulceMorita.Models.LoteProduccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoteProduccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkOrdenNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkOrdenNavigation.IdOrden)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
