@model IEnumerable<DulceMorita.Models.Operario>

@{
    ViewData["Title"] = "Operarios";
}

<h1>Operarios</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOperario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOperario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdOperario">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
